.ideas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  border-radius: 5px;
  border: 1px solid black;
  width: 90%;
  margin-top: 20px;
  padding: 0;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ideas-title {
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}

.ideas-img {
  width: 90px;
  height: 90px;
  margin: 10px;
}

@media (hover: hover) {
  .ideas-img:hover {
    transform: translateY(-5px);
  }

  .city-card-image:hover {
    border: 3px solid #f3f4f6;
  }
}

@media screen and (max-width: 400px) {
  .ideas-title {
    font-size: 15px;
  }
}
